[Unit]
Description=dinky
After=network.target
Requires=network.target

[Service]
User=dinky
ExecStart=/home/dinky/.cargo/bin/dinky
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
